/* paddings / margins -with 4values- (top) (right) (bottom) (left) */
/* paddings / margins -with 2values- (top-bottom) (right-left) */


body {
    background-image: url("../img/bg.png");
    height: 100%;
    min-height: 600px;
}

img {
    display: block;
    padding: 20px;
}

h1, h2, h3, h4 {
    margin: 20 0 0 0px;
}

h1 {
    margin: 30 0 0 0px;
}


h2, h3, h4 {
    padding-left: 20px;
}

#header {
    min-height: 160px;
    background-image: url("../img/bg-dark.png");
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;

    -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.7);
    -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
}

#header a {
    color: white;
    text-shadow: 0 1px 1px black;
}

#header img {
    padding: 0px;
    /* margin: 20 20 20 40px; */
    margin: 20 auto;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    border: 1px rgba(0,0,0,0.2) solid;
}

#header .btn {
    min-width: 105px;
    margin-bottom: 5px;
}

#sidebar h1 {
    opacity: 0.9;
    text-shadow: 0 1px 1px white;
}

#sidebar ul {
    /* font-family: Expletus Sans; */
    font-size: 0.8em;
    text-shadow: 2px 1px white;
    list-style-image:  url("../img/list-icon.png");
}

#sidebar ul li {
    margin-bottom: 5px;
}

#sidebar ul li a {
    color: maroon;
    text-shadow: 0 2px 1px white;
    /* text-shadow: 0 1px 1px #CCCCCC; */
    /* color: #d04526; */
    font-weight: lighter;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

#sidebar ul li a:hover {
    /* color: #414040; */
    color: black;
}


#footer {
    min-height: 160px;
    background-image: url("../img/bg-dark.png");
    border-top: 2px solid rgba(0, 0, 0, 0.4);
    margin-top: 35px;

    -webkit-box-shadow: 0 -10px 10px rgba(0,0,0, 0.7);
    -moz-box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.7);
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.7);
}

#footer a {
    color: white;
    text-shadow: 0 1px 1px black;
}

#navigation {
    padding-top: 10px;
}

.post-seperator {
    /* border: 1px solid rgba(150, 0, 0, 0.2); */
    border: 1px dotted maroon;
    margin-bottom: 20px;
}


.project {
    -webkit-border-radius: 10px;
    border-radius: 20px;

    display: inline;
    padding: 10px;
    transition-property: opacity, left, top, height;
    transition-duration: 0.5s, 1s, 0.5s, 1s;
    -webkit-transition-property: opacity, left, top, height;
    -webkit-transition-duration: 0.5s, 1s, 0.5s, 1s;
}

.project:hover {
    opacity: 1;
}

.powered-by {
    opacity: 0.3;
    padding: 10px;
    display: inline;
    transition-property: opacity, left, top, height;
    transition-duration: 0.5s, 1s, 0.5s, 1s;
    -webkit-transition-property: opacity, left, top, height;
    -webkit-transition-duration: 0.5s, 1s, 0.5s, 1s;
}

.powered-by:hover {
    opacity: 1;
}

.powered-by-gumby {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    /* border: 1px black solid; */

    display: inline;
    padding: 0 10 0 10px;
    margin-bottom: 10px;

    background: #006e2e; /* Old browsers */
    background: -moz-linear-gradient(top,  #006e2e 0%, #006e2e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#006e2e), color-stop(100%,#006e2e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #006e2e 0%,#006e2e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #006e2e 0%,#006e2e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #006e2e 0%,#006e2e 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #006e2e 0%,#006e2e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006e2e', endColorstr='#006e2e',GradientType=0 ); /* IE6-9 */
}

.powered-by-seperator {
    border: 1px dotted rgba(0,0,0,0.4);
    /* margin-bottom: 20px; */
}

.typekit-badge {
    display: none !important;
}