{% load static %}
{% include "headtag.html" %}

<script type="text/javascript">
  $("title").text(" Muhammet Can :: Blog Archive :: {{ year }} ")
</script>

<body>
  {% include "header.html" %}

  <div class="row">
    <div class="twelve columns center">
      <h2>
        This is the archive of my blog posts. <br />
        It should be easier to find something from here.
      </h2>
    </div>
  </div>

  <div class="row">
    <div class="powered-by-seperator"
         style="margin-top: 15px; opacity: 0.5;"> </div>
  </div>
  <br />

  <div class="row">
    <div class="twelve columns">
      <p class="entry">
        This is the list of the posts that have been written in: {{ year }}
        <br />
        [
        <a href="/archive/y/2009">2009</a>,
        <a href="/archive/y/2010">2010</a>,
        <a href="/archive/y/2011">2011</a>,
        <a href="/archive/y/2012">2012</a>,
        <a href="/archive/y/2013">2013</a>
        ]
      </p>
      <table width="" cellspacing="5px" cellpadding="5px" border="">
        <tr>
          <th align="left"> <h3>Post Date</h3> </th>
          <th align="left"> <h3>Post Title</h3> </th>
          <th align="left"> <h3>Post Views</h3> </th>
        </tr>
        {% for p in posts %}
        <tr>
          <td>{{ p.post_date }}</td>
          <td>
            <a href="/blog/{{ p.post_name }}">{{ p.post_title }}</a>
          </td>
          <td>{{ p.post_views }}</td>
        </tr>
        {% empty %}
        <tr>
          <td> no data on this category </td>
        </tr>

        {% endfor %}

      </table>


    </div>
  </div>

  <div class="row">
    <div class="powered-by-seperator"
         style="margin-top: 15px; opacity: 0.5;"></div>
  </div>


  <!-- js recent tracks -->
  <div class="recentTracks">
    <div class="row">
      <div class="three columns">
        <h3>Profile::</h3>
      </div>
      <div class="nine columns">
        <h3>Recently Played Tracks::</h3>
      </div>
    </div>
    <div class="row">
      <p id="recent" style="font-size: 11px;"></p>
    </div>
  </div>

  {% include "footer.html" %}
</body>



<!-- Lastfm Api -->
<script type="text/javascript"
        src="{% get_static_prefix %}js/libs/lastfm/lastfm.api.md5.js"></script>
<script type="text/javascript"
        src="{% get_static_prefix %}js/libs/lastfm/lastfm.api.js"></script>
<script type="text/javascript"
        src="{% get_static_prefix %}js/libs/lastfm/lastfm.api.cache.js"></script>
<script type="text/javascript"
        src="{% get_static_prefix %}js/libs/lastfm/recent.js"></script>
