{% load static %}
{% include "headtag.html" %}

<body>
  {% include "header.html" %}

  <div class="container"> <!-- start of container -->
    <div class="row">
      <div class="twelve columns center">
        <h2>
          serious alert <br />
          contains nerdy talk
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="powered-by-seperator"
           style="margin-top: 15px; opacity: 0.5;"> </div>
    </div>


    <div class="row">     <!-- start of row -->
      <div class="eight columns">
        {% for post in posts %}

        <a href="/blog/{{ post.post_name }}"> <h1>{{ post.post_title }}</h1> </a>
        <span class="post-data">
          <i class="icon-time"></i> {{ post.post_date}}
        </span>
        <span class="post-data">
          <i class="icon-tags"></i>
          {% for category in post.post_category.all %}
          <a href="/blog/categories/{{ category.category_slug }}">
            {{ category.category_title }} </a>,
          {% endfor %}
        </span>
        <div class="powered-by-seperator"
             style="margin-bottom: 10px; opacity: 0;"> </div>
        <div class="entry">
          {{ post.post_content|safe }}
        </div>

        <br />

        <a href="{{ post.post_name }}" style="font-size: 0.9em;">
          read more... </a>

        {% empty %}
        <p>
          We have no posts to show at this time.
        </p>
        {% endfor %}
      </div>


      <div class="three columns push_one">
        {% include "wp/sidebar.html" %}
      </div>

    </div> <!-- end of row -->

    <div class="row">
      <div class="powered-by-seperator"
           style="margin-top: 15px;"> </div>
    </div>

  </div> <!-- end of container -->

  {% include "footer.html" %}
</body>
