{% load static %}
{% include "wp/headtag.html" %}

<body>
  {% include "header.html" %}

  <div class="container"> <!-- start of container -->
    <div class="row">
      <div class="twelve columns center">
        <h2>
          serious alert <br />
          contains nerdy talk
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="powered-by-seperator"
           style="margin-top: 15px; opacity: 0.5;"> </div>
    </div>

    <div class="row">     <!-- start of row -->
      <div class="ten columns push_one">
        <a href="/blog/{{ post.post_name }}">
          <h1> {{ post.post_title}} </h1> </a>

        <span class="post-data">
          <i class="icon-time"></i> {{ post.post_date}}
        </span>

        <span class="post-data">
          <i class="icon-tags"></i>
          {% for category in post.post_category.all %}
          <a href="/blog/categories/{{ category.category_slug }}">
            {{ category.category_title }} </a>,
          {% endfor %}
        </span>
        <div class="powered-by-seperator"
             style="margin-bottom: 10px; opacity: 0;"> </div>

        <div class="entry" style="text-align: justify;">
          {{ post.post_content|safe }}
        </div>
        <br />
      </div>

      <!-- <div class="three columns push_one"> -->
      <!--    include "wp/sidebar.html"  -->
      <!-- </div> -->

    </div> <!-- end of row -->

    <div class="row">
      <div class="twelve columns">
        <br />
        <div class="powered-by-seperator"> </div>
        <br />
        <div id="disqus_thread"></div>
        <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          var disqus_shortname = 'muhammetcan';
          // required: replace example with your forum shortname

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        </script>

        <noscript>Please enable JavaScript to view the
          <a href="http://disqus.com/?ref_noscript">
            comments powered by Disqus.</a></noscript>

        <a href="http://disqus.com" class="dsq-brlink">comments
          powered by <span class="logo-disqus">Disqus</span></a>

      </div>
    </div>
  </div> <!-- end of container -->

  {% include "footer.html" %}
</body>
