<!-- <iframe src="https://www.google.com/calendar/embed?showNav=0&amp;mode=WEEK&amp;height=400&amp;wkst=2&amp;bgcolor=%23ffffff&amp;src=8rs4is0jgrpqp9j5c71cebl7cg%40group.calendar.google.com&amp;color=%23B1440E&amp;src=muhitosan%40gmail.com&amp;color=%231B887A&amp;ctz=Europe%2FIstanbul" style=" border-width:0 " width="650" height="400" frameborder="0" scrolling="no"></iframe> -->

<!-- <div id='outerdiv'>
     <iframe src="#" id='inneriframe' scrolling=no></iframe>
</div> -->

<!-- #outerdiv -->
<!-- { -->
<!-- width:446px; -->
<!-- height:246px; -->
<!-- overflow:hidden; -->
<!-- position:relative; -->
<!-- } -->

<!-- #inneriframe -->
<!-- { -->
<!-- position:absolute; -->
<!-- top:-100px; -->
<!-- left:-200px; -->
<!-- width:1280px; -->
<!-- height:1200px; -->
<!-- } -->
