{% load static %}
<div id="header">
  <div class="container">
    <div class="row">
      <div class="three columns center">
        <img src="{% get_static_prefix %}img/pictures/picture2.png"
             class="center" alt="" />
      </div>

      <div class="six columns">
        <h1 class="white">Hello!</h1>
        <p class="white">
          I'm muhammet, a junior computer engineering <br />
          student from <a href="">tobb etu.</a>
          <br /><br />
          If you need to contact me, feel free to drop me an email
          <br />
          mc [at] muhammetcan.net
        </p>
      </div>


      <div id="navigation" class="three columns center">
        <div class="social">
          <a href="https://github.com/jeffisabelle" target="_blank">
            <i class="icon-github-sign icon-large-mami"></i>
          </a>

          <a href="https://twitter.com/jeffisabelle" target="_blank">
            <i class="icon-twitter-sign icon-large-mami"></i>
          </a>

          <a href="http://gplus.to/jeffisabelle" target="_blank">
            <i class="icon-google-plus-sign icon-large-mami"></i>
          </a>

          <a href="http://tr.linkedin.com/in/muhammetcan/" target="_blank">
            <i class="icon-linkedin-sign icon-large-mami"></i>
          </a>

        </div>

        <p class="primary btn small"><a href="/"> Home </a></p>
        <p class="primary btn small"><a href="/blog/"> Blog </a></p>
        <p class="primary btn small"><a href="/projects/"> Projects </a></p>
        <p class="primary btn small"><a href="#"> About </a></p>
      </div>

    </div>
  </div>
</div> <!-- end of header -->
